.page {
  margin: 0;
  font-family: "Jersey 15", sans-serif;
  min-height: 100vh;
}

.page::before{
  content:"";
  position:fixed;
  inset:0;
  background-image:url("/images/background_notebook.png");
  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;
  z-index:-1;
}

.header{
  width:70%;
  margin:0px auto 0;
  padding:5px;
  text-align:center;
}

.title{
  font-family:'Jersey 15', sans-serif;
  font-size:55px;
}

.progressContainer{
  width:80%;
  height:12px;
  background:#dcdcdc;
  border-radius:10px;
  margin:10px auto 0px;
  overflow:hidden;
}

.progressBar{
  height:100%;
  width:0%;
  background:#c9a2ff;
  border-radius:10px;
  transition:width 0.6s ease;
}

.subtitle{
  font-size:20px;
}

.questionBox{
  width:80%;
  margin:30px auto;
  background:rgba(255, 255, 255, 0.416);
  border-radius:25px;
  padding:25px;
  text-align:center;
  box-shadow:0 6px 15px rgba(0,0,0,0.1);
}

.question{
  font-size:22px;
  font-weight:600;
  margin-bottom:30px;
  padding:15px;
  border-radius:15px;
  background:#fff;
  border:1px solid #7c3aed;
}

.options{
  display:grid;
  gap:15px;
  justify-items:center;
}

.option{
  width:70%;
  padding:15px 20px;
  font-size:18px;
  background:#fff;
  border:1px solid #505152;
  border-radius:15px;
  cursor:pointer;
  transition:0.25s;
}

.option:hover{
  background:#e5e5e5;
}

.lives{
  display:flex;
  gap:5px;
  justify-content:flex-end;
  width:80%;
  margin:auto;
}

.heart{
  width:60px;
}

.lost{
  opacity:0.2;
  transform:scale(0.7);
}

.typingContainer{
  margin-top:20px;
}

.typingAnswer{
  padding:10px 20px;
  width:60%;
  font-size:18px;
  border-radius:15px;
  border:1px solid #505152;
}

.submitTyping{
  display:block;
  margin:15px auto 0;
  padding:10px 20px;
  border-radius:10px;
  border:none;
  cursor:pointer;
  width:60%;
  background:#EBD3FA;
  font-family:"Jersey 15", sans-serif;
  font-size:20px;
}

.submitTyping:hover{
  transform:scale(1.05);
}
